    <ul>{{#project}}
        <div id="project">
       <a href="/{{directory}}/description"> 
            <li>{{name}}</li> 
           <image id="screenshot" src="/{{directory}}/screenshot.png"></image>
        </a>
        </div>
        {{/project}}
        
    </ul>