* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#ticker {
    overflow: hidden;
    height: 1.5em;
    width: 100%;
    position: relative;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 100%;
}

#headlines a {
    padding-right: 40px;
}
