* {
    margin: 0;
}

body {
    background-color: cadetblue;
}

.game-container {
    position: relative;

    width: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
}

#board {
    display: flex;
}

.container {
    border: lime 2px solid;
    width: 560px;
    height: 480px;
}
#heading {
    text-align: center;
    color: brown;
    margin-top: 10px;
}

.slot {
    /* background-color: blue; */
    height: 80px;
    width: 80px;
    overflow: hidden;
}

.hole {
    /* background-color: antiquewhite; */
    height: 60px;
    width: 60px;
    transform: translate(-30px, -30px);
    border: 40px solid blue;
    border-radius: 50%;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: yellow;
}

.choice {
    align-items: center;
    padding-top: 25%;
    text-align: center;
    margin: 5px;
}

.choice p {
    font-size: 25px;
    color: maroon;
    margin: 20px;
}

.victory-box {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    z-index: 20;
}

.victory {
    padding: 20px;
    height: 100px;
    width: 400px;
    max-width: 50%;
    background-color: white;
    position: absolute;
    left: 300px;
    top: 300px;
    visibility: hidden;
    z-index: 21;
    text-align: center;
}
.newgame {
    margin: 10px;
    left: 150px;
}

.hotpink {
    background-color: hotpink;
    padding: 5px;
    border-radius: 10px;
    width: 150px;
}

.head {
    display: flex;
    flex-direction: column;
}
