* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 10px;
    width: 100%;
}

.gray {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.orange {
    background-color: orange;

    grid-column: 2 /3;
}
.black {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.yellow {
    background-color: yellow;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.blue {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.green {
    background-color: green;
    grid-row: 2 / 3;
}

.purple {
    background-color: purple;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.lightpink {
    background-color: lightpink;
}
